* {
  padding: 0;
  margin: 0;
}

.ocultar_x {
  display: none;
}

.ocultar {
  transition: transform 300ms ease-out;
  transform: translate(-100vw, 0px);
}

.mostrar {
  transition: transform 300ms ease-out;
  transform: translate(0, 0px);
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "filtros encabesado" "filtros productos ";
  justify-items: center;
  grid-template-columns: 220px auto;
  grid-template-rows: auto auto;
  background-image: url("../img/fondo2.jpg");
  background-attachment: fixed;
}
body header {
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
  background-image: url("../img/fondo2.jpg");
  background-size: auto auto;
  background-repeat: repeat;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 5px 5px;
}
body header .text_logo {
  color: rgb(144, 54, 117);
  font-family: "Knewave", cursive;
  font-size: 70px;
  font-weight: lighter;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}
body .nav_filtros {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100vh;
  width: 100%;
  border-radius: 10px;
  top: 0;
  color: white;
  z-index: 100;
}
body .nav_filtros .filtros {
  padding: 90px 0 0 0;
}
body .nav_filtros .filtros, body .nav_filtros .precios {
  margin: 0 0 0 15px;
}
body .nav_filtros .filtros h3, body .nav_filtros .precios h3 {
  margin: 15px 0 5px;
  font-family: "Itim", cursive;
  font-size: 20px;
  color: rgb(255, 158, 226);
}
body .nav_filtros .filtros ul, body .nav_filtros .precios ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
body .nav_filtros .filtros ul li, body .nav_filtros .precios ul li {
  margin: 0 10px;
  font-family: "Itim", cursive;
  color: rgb(250, 234, 154);
}
body .nav_filtros .filtros ul li input, body .nav_filtros .precios ul li input {
  margin: 5px;
}
body .nav_filtros #mostrar_carrito {
  all: unset;
  width: 130px;
  margin: auto auto 65px auto;
  animation: cssAnimation_1 1000ms infinite ease-in;
}
@keyframes cssAnimation_1 {
  to {
    transform: rotate(0deg) translate(0px, -1px);
  }
}
body .nav_filtros #mostrar_carrito .carrito {
  width: 100%;
  height: 100%;
}
body .nav_filtros #mostrar_carrito .cantidad_carrito {
  position: absolute;
  transform: translate(100px, -150px);
  font-size: 40px;
  color: rgb(144, 54, 117);
  font-family: "Knewave", cursive;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
body .nav_filtros #mostrar_carrito:hover {
  transform: translate(0, -2px);
}
body .nav_filtros #contenedor_carrito {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6941176471);
  color: black;
}
body .nav_filtros #contenedor_carrito #sub_contenedor {
  margin: 110px 220px;
  width: 350px;
  min-height: 90%;
  background-color: aqua;
  padding: 20px;
  border-radius: 0 5px 5px 0;
}
body .nav_filtros #contenedor_carrito #sub_contenedor #cerrar_carrito {
  width: 20px;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .articulo_carrito {
  display: flex;
  margin: 5px;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .articulo_carrito img {
  width: 50px;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .articulo_carrito div {
  display: flex;
  border: solid 0.1px red;
  justify-content: space-around;
  background-color: #00aa14;
  border-radius: 10px;
  width: 50px;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .articulo_carrito div button {
  border: none;
  background-color: transparent;
}
body .nav_filtros #contenedor_carrito #sub_contenedor p {
  color: red;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .class_boton_restar {
  color: blue;
}
body .nav_filtros #contenedor_carrito #sub_contenedor span {
  color: green;
}
body .nav_filtros #contenedor_carrito #sub_contenedor .class_boton_agregar {
  color: goldenrod;
}
body main {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 242);
  width: 98%;
  min-height: 80vh;
  margin: 0 0 25px 0;
  border-radius: 10px;
}
body main .contendor_buscar {
  position: sticky;
  top: 108px;
  width: 100%;
  z-index: 0;
  background-color: rgb(255, 255, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5px;
}
body main .contendor_buscar #input_buscar {
  width: 300px;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
}
body main .contendor_buscar #limpiar_busqueda {
  border: none;
  background-color: transparent;
  transform: translate(-130px, 2px);
}
body main .contendor_buscar #limpiar_busqueda img {
  width: 14px;
}
body main .contendor_buscar #boton_buscar {
  all: unset;
  font-family: "Itim", cursive;
  font-size: 22px;
  margin: 0 0 0 10px;
  border-radius: 10px;
  padding: 5px 15px;
  background: linear-gradient(0deg, rgb(138, 165, 255) 12%, rgb(224, 224, 255) 47%, rgb(152, 145, 250) 100%);
  background-blend-mode: normal;
}
body main .contendor_buscar #boton_buscar:hover {
  transform: translate(0, -2px);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.49);
}
body main .contendor_buscar #boton_buscar:active {
  background: linear-gradient(0deg, rgb(86, 125, 250) 12%, rgb(171, 171, 250) 47%, rgb(100, 89, 250) 100%);
  background-blend-mode: normal;
  transform: translate(0, 0);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
body main #contenedor_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main #contenedor_principal .articulo_conedor {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 390px;
  height: 140px;
  margin: 5px 5px;
  padding: 7px;
}
body main #contenedor_principal .articulo_conedor img {
  width: 130px;
  height: 138px;
  border-radius: 5px 0 0 5px;
}
body main #contenedor_principal .articulo_conedor .informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 128px;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}
body main #contenedor_principal .articulo_conedor .informacion .productos {
  font-family: "Rock Salt", cursive;
  font-stretch: ultra-condensed;
  font-size: 16px;
  line-height: 25px;
  border-bottom: solid black 1px;
  color: rgb(0, 0, 0);
}
body main #contenedor_principal .articulo_conedor .informacion p {
  margin: auto;
  font-family: "Itim", cursive;
  font-size: 17px;
  border-bottom: solid black 1px;
  margin: 5px 0;
}
body main #contenedor_principal .articulo_conedor .informacion div {
  display: flex;
  justify-content: space-between;
}
body main #contenedor_principal .articulo_conedor .chocolate {
  background-color: rgb(224, 218, 218);
}
body main #contenedor_principal .articulo_conedor .dulce_leche {
  background-color: rgb(255, 200, 155);
}
body main #contenedor_principal .articulo_conedor .crema {
  background-color: rgb(255, 222, 160);
}
body main #contenedor_principal .articulo_conedor .frutas_a_la_crema {
  background-color: rgb(180, 214, 43);
}
body main #contenedor_principal .articulo_conedor .fruta_agua {
  background-color: rgb(8, 145, 140);
}
body main #contenedor_principal .articulo_conedor .sambayon {
  background-color: rgb(244, 161, 8);
}
body main .luna {
  position: fixed;
  width: 700px;
  z-index: -1;
  bottom: -487px;
  left: -240px;
  animation: cssAnimation_0 40000ms infinite linear;
}
@keyframes cssAnimation_0 {
  to {
    transform: rotate(-360deg) translate(0px, 0px);
  }
}

.ventana_finalizado_comprar {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 30%;
  color: #00aa14;
}
.ventana_finalizado_comprar #envio_productos {
  background-color: rgb(0, 183, 255);
  width: 400px;
  height: 200px;
  margin: auto;
  border-radius: 5px;
}

header {
  grid-area: encabesado;
}

nav {
  grid-area: filtros;
}

main {
  grid-area: productos;
}

/*# sourceMappingURL=estilo.css.map */
