*{
    padding: 0;
    margin: 0;
    //border: solid .1px red;
}   

.ocultar{ 
    display: none;
}
body{
    overflow-x:hidden;
    display:grid;
    grid-template-areas:
        "filtros encabesado"
        "filtros productos " ;
    justify-items: center;
    grid-template-columns: 220px auto;
    grid-template-rows: auto auto;
    background-image: url("../img/fondo2.jpg");
    background-attachment: fixed;

    header{
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto;
        background-image: url("../img/fondo2.jpg");
        background-size: auto auto;
        background-repeat: repeat;
        position:sticky;
        top: 0;
        width: 100%;
        padding: 5px 5px;
        .text_logo{
            color: rgb(144, 54, 117);
            font-family: 'Knewave', cursive;
            font-size:70px;
            font-weight:lighter; 
            -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
    }   

    .nav_filtros{ 
        display: flex;
        flex-direction: column;
        position: sticky;
        height: 100vh;
        top: 0;
        color: white;
        .filtros{
            padding: 150px 0 0 0; ;
        }
        .filtros, .precios{
            h3{
                margin: 15px 0 5px;
                font-family: 'Itim', cursive;
                font-size: 20px;
                //border-bottom: solid black 1px;
                color: rgb(255, 158, 226);

            }
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                li{
                    margin: 0 10px;
                    font-family: 'Itim', cursive;
                    color: rgb(250, 234, 154);


                }
            }
        }  
        #mostrar_carrito{
            all: unset; 
            width: 150px;
            margin: auto auto 20px auto ;
            img{
                width: 100%;
                height: 100%;
            }
            .cantidad_carrito{
                position: absolute;
                transform: translate(115px, -155px);
                font-size: 30px;
                color: rgb(144, 54, 117);
                font-family: 'Knewave', cursive;
                -webkit-text-stroke: 2px rgb(255, 255, 255);

            } 
            &:hover{
                    transform: translate(0,-2px);
            }
        }  
    }
    main{
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 255, 255);
        width: 98%;
        min-height: 80vh;
        margin: 0 0  25px 0;
        border-radius: 10px;
        .contendor_buscar{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:10px 0 0 0 ;

            #input_buscar{
                width: 300px;
                height: 25px;
                
            }
        }
        #contenedor_carrito{
            position:absolute;
            height:100vw;
            width: 100vw;
            background-color: #00000067;
            #sub_contenedor{
                width: 350px;
                margin: 0 auto ;
                background-color: aqua;
                padding: 20px;
                .articulo_carrito{
                    display: flex;
                    margin: 5px;
                }
            }
        }
        #contenedor_principal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .articulo_conedor{
                display: flex;
                justify-content:space-around ;
                border-radius: 5px;
                width: 390px;
                height: 140px;
                margin: 5px 5px;
                padding: 7px;  
                img{
                    width: 130px;
                    height: 138px;
                    border-radius: 5px 0 0 5px;
                }
                .informacion{
                    display:flex ;
                    flex-direction: column;
                    justify-content: space-between;
                    //background-color: green;
                    width: 100%; 
                    height: 128px;
                    border-radius: 0 5px 5px 0;
                    padding: 5px ;
                    .productos{
                        font-family: 'Rock Salt', cursive;
                        font-stretch: ultra-condensed;
                        font-size: 16px;
                        line-height:25px;
                        border-bottom: solid black 1px;
                        color: rgb(0, 0, 0);
                    }
                    p{
                        margin: auto;
                        font-family: 'Itim', cursive;
                        font-size: 17px;
                        border-bottom: solid black 1px;
                        margin: 5px 0;

                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                    }  
                }
                .chocolate{background-color: rgb(224, 218, 218)}; 
                .dulce_leche{background-color:rgb(255, 200, 155)};
                .crema{background-color:rgb(255, 222, 160)};
                .frutas_a_la_crema{background-color:rgb(180, 214, 43)};
                .fruta_agua{background-color:rgb(8, 145, 140)};
                .sambayon{background-color:rgb(244, 161, 8)};
            }
        }   
    }
}
//https://www.deathwishcoffee.com/products/gingerdead-coffee



.ventana_finalizado_comprar{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 30%;
    #envio_productos{
        background-color: rgb(0, 183, 255);
        width: 400px;
        height: 200px;
        margin: auto;
        border-radius: 5px;}
        color: #00aa14;
    }



header{
    grid-area: encabesado;
}
nav{
    grid-area: filtros;
}

main{
    grid-area: productos;
}