*{
    padding: 0;
    margin: 0;
    //border: solid red .5px;
}   
.ocultar_x{
    display: none;
}

.ocultar{ 

    transition: transform 300ms ease-out;
    transform: translate(100vw, 0);
}

.mostrar{
        transition: transform 300ms ease-out;
        transform: translate(0, 0);
    }

.quitar_scroll{
    overflow-y: hidden;
}  


.titulo_alerta, .sub_titulo_alerta{
    color: rgb(144, 54, 117);
    font-family: 'Itim', cursive;
    font-size:30px;
    font-weight:lighter; 

}
.sub_titulo_alerta{
    font-size: 20px;
}


body{
    overflow-x:hidden;
    display:grid;
    grid-template-areas:
        "encabesado filtros"
        "productos filtros" ;
    justify-items: center;
    grid-template-columns:  auto 220px;
    grid-template-rows: auto auto;
    background-image: url("../img/fondo2.jpg");
    background-attachment: fixed;

    header{
        grid-template-columns: auto 220px;
        grid-template-rows: auto auto;
        background-image: url("../img/fondo2.jpg");
        background-size: auto auto;
        background-repeat: repeat;
        position:sticky;
        top: 0;
        width: 98%;
        text-align: center;
        margin: 0  0 0 30px;
        .text_logo{
            color: rgb(144, 54, 117);
            font-family: 'Knewave', cursive;
            font-size:70px;
            font-weight:lighter; 
            -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
        .contendor_buscar{
            z-index:0;
            background-color: rgb(255, 255, 231);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 ;
            border-radius: 10px 10px 0 0 ;
            #input_buscar{
                width: 300px;
                height: 30px;
                margin: 10px 0;
                border-radius: 10px;
            }
            #limpiar_busqueda{
                border: none;
                background-color:transparent;
                transform: translate(-130px,2px);
                img{
                    width: 14px;
                }
            }
            #boton_buscar{
                all: unset;
                font-family: 'Itim', cursive;
                font-size: 22px;
                margin: 0 0 0 10px;
                border-radius: 10px;
                padding: 5px 15px;
                background: linear-gradient(
                    0deg,
                    rgba(138, 165, 255, 1) 12%,
                    rgba(224, 224, 255, 1) 47%,
                    rgba(152, 145, 250, 1) 100%
                );
                background-blend-mode: normal;
                transition: box-shadow 50ms linear, transform 50ms linear;

                &:hover{
                    transform: translate(-2px, -2px);
                    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.49);

                }
                &:active{
                    background: linear-gradient(
                        0deg,
                        rgb(86, 125, 250) 12%,
                        rgb(171, 171, 250) 47%,
                        rgb(100, 89, 250) 100%
                    );
                    background-blend-mode: normal;
                    transform: translate(0, 0);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
                }
            }
        }
    }   

    .nav_filtros{ 
        display: flex;
        flex-direction: column;
        position: sticky;
        height: 100vh;
        width: 195px;
        border-radius: 10px;
        top: 0;
        color: white;
        z-index: 100;
        margin: 0  0 0 auto ;
        .filtros{
            border-radius: 10px 0 0 0 ;
            padding: 0 0  0 20px;
        }
        .precios{
            border-radius: 0 0 0 10px ;
            padding:  0  0 20px 15px;

        }
        .filtros, .precios{
            background-color: rgb(253, 253, 236);            
            h3{
                margin: 15px 0 5px;
                font-family: 'Itim', cursive;
                font-size: 20px;
                //border-bottom: solid black 1px;
                color: rgb(140, 0, 98);
            }
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                li{
                    margin: 0 10px;
                    font-family: 'Itim', cursive;
                    color: rgb(133, 64, 0);
                    input{
                        margin:5px ;
                    }
                }
            }
        }  
        
        #mostrar_carrito{
            all: unset; 
            width: 120px;
            margin: 15px auto 70px ;
            animation: cssAnimation_1 1000ms infinite ease-in;
            cursor:pointer;
            @keyframes cssAnimation_1 {
                to {
                    transform: rotate(0deg) translate(-0px, -1px);
                }
            }
            .carrito{
                width: 100%;
                height: 100%;
                
            }
            .cantidad_carrito{
                position: absolute;
                transform: translate(95px, -140px);
                font-size: 40px;
                color: rgb(144, 54, 117);
                font-family: 'Knewave', cursive;
                -webkit-text-stroke: 1px rgb(255, 255, 255);
                transition: transform 50ms linear,color 50ms linear;
                &:hover{
                    transform: translate(95px, -142px);
                    color: rgb(223, 85, 182);
                    cursor:pointer;
                    -webkit-text-stroke:2px rgb(255, 255, 255);
                } 
                &:active{
                    transform: translate(95px, -141px);
                    color: rgb(245, 22, 100);
                }
            } 
        } 
    }
  
    main{
        display: flex;
        justify-self: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: rgb(254, 255, 233);
        min-height: 80vh;
        width: 98%;
        margin: 0 0 30px 30px;
        border-radius: 0 0 10px 10px;
        
        #contenedor_carrito{
            position:fixed;
            top:0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-color: #0000009c;
            color: black;
            overflow: scroll;
            z-index: 100;
            #sub_contenedor{
                background-color: rgb(247, 247, 247);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 30px 50px ;
                width: 600px;
                padding: 10px;
                border-radius: 15px;
                #cerrar_carrito{
                    width: 20px;
                    height: 20px;
                }
                .img_sin_articulo{//estilo para ventana emerjente sin articulos en carrito
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                }
                .text_sin_articulo{//estilo para ventana emerjente sin articulos en carrito
                    font-size: 50px;
                    font-family: 'Itim', cursive;
                    text-align: center;
                    margin:20px;
                }
                h2{
                    margin: 0 auto;
                    width: 300px;
                    border-radius: 0 5px 5px 0;
                    color: rgb(178, 61, 143);
                    font-family: 'Knewave', cursive;
                    -webkit-text-stroke: 1px rgb(0, 0, 0);
                    font-size: 50px;
                }
                .contendor_articulos{
                    display: flex;
                    justify-content: center;
                    border-top: 2px solid;
                    border-bottom: 2px solid;
                    border-radius: 10px;
                    width: 500px;
                    min-height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px auto;
                    padding: 30px 0;
                    .articulo_carrito{
                        display: flex;
                        background-color: #ffffff;
                        margin: 5px 0;
                        border-radius: 10px ;
                        .img_carrito{
                            width: 100px;
                            height: 100px;
                            border-radius: 10px 0 0 10px;
                        }
                        .info_articulo{
                            margin:10px 0 5px 5px;
                            width: 170px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .sabor_carrito{
                                font-family: 'Rock Salt', cursive;
                                font-stretch: ultra-condensed;
                                font-size: 16px;
                                line-height:25px;
                                border-bottom: solid black 1px;
                                color: rgb(0, 0, 0);
                            }
                            .accion_carrito{
                                display: flex;
                                margin:5px;
                                div{
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    padding: auto 0;
                                    background-color: #afeeff;
                                    border-radius: 10px; 
                                    height: 22px;
                                    font-family: 'Itim', cursive;
                                    span, .class_boton_restar, .class_boton_agregar{
                                        font-size: 20px;
                                        width: 25px;
                                        &:hover{
                                            cursor:pointer;
                                            color: aquamarine;
                                        }
                                    }       
                                }
                                .botones_quitar{
                                    margin: 0 0 0 5px  ;
                                    border-bottom: solid 2px rgba(255, 255, 255, 0);
                                    border-radius: 5px;
                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                    transition: border-bottom 50ms linear;
        
                                    &:hover{
                                        border-bottom: solid black 2px;
                                    }
                                    &:active{
                                        border-bottom: solid rgb(169, 0, 0) 2px;
                                    }
                                }
                                button{
                                    border: none;
                                    background-color: transparent;  
                                };
                            }
                        }
                        .sub_total{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            border-radius: 0 5px 5px 0;
                            color: rgb(144, 54, 117);
                            font-family: 'Knewave', cursive;
                            -webkit-text-stroke: 1px rgb(0, 0, 0);
                            font-size: 30px;
                        }
                    }
                }
                .total_compra{
                    display: flex;
                    justify-content: center;
                    padding: 20px;
                    width: 500px;
                    border-radius: 5px;
                    #finalizar_compra{
                        border: transparent;
                        margin:  0 50px;
                        padding: 5px 15px;
                        border-radius: 15px;
                        font-family: 'Itim', cursive;
                        font-size: 20px;
                        background: linear-gradient(
                            0deg,
                            rgba(86, 196, 67, 1) 0%,
                            rgb(213, 250, 221) 48%,
                            rgb(12, 191, 204) 98%
                        );
                        background-blend-mode: normal;
                        transition: transform 50ms ease-out;
                        &:hover{
                            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.49);
                            transform: translate(0,-2px);
                        }
                        &:active{
                            box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.792);
                            transform: translate(0,-1px);
                        }
                    }
                    span{
                        color: rgb(144, 54, 117);
                        font-family: 'Knewave', cursive;
                        -webkit-text-stroke: 1px rgb(0, 0, 0);
                        font-size: 30px;
                        width: 100px;
                    }
                }   
            }
        } 

        #contenedor_principal{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding:0 0 20px 0;
            .articulo_contedor{
                display: flex;
                justify-content:space-around ;
                border-radius: 10px;
                width: 400px;
                //height: 160px;
                margin: 10px;
                img{
                    width: 135px;
                    height: 155px;
                    border-radius: 10px 0 0 10px;
                }
                .informacion{
                    display:flex ;
                    flex-direction: column;
                    justify-content: space-between;
                    //background-color: green;
                    width: 100%; 
                    height: 145px;
                    border-radius: 0 10px 10px 0;
                    padding: 5px 10px 5px 5px ;
                    .productos{
                        font-family: 'Rock Salt', cursive;
                        font-stretch: ultra-condensed;
                        font-size: 17px;
                        line-height:25px;
                        border-bottom: solid black 1px;
                        color: rgb(0, 0, 0);
                        padding: 5px 0;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: auto;

                        font-family: 'Itim', cursive;
                        font-size: 15px;
                        border-bottom: solid black 1px;
                        padding: 5px 0;
                        height: 100%;
                    }
                    div{
                        display: flex;
                        align-items: end;
                        justify-content: space-between;
                        padding: 5px;
                        height: 100%;
                        h4{
                            font-family: 'Itim', cursive;
                            font-size: 25px;
                        }
                        .boton_agregar{
                            border: transparent;
                            font-family: 'Itim', cursive;
                            font-size: 18px;
                            background: rgb(255, 255, 255);
                            background-blend-mode: normal;
                            padding: 4px 8px;
                            border-radius: 10px;
                            transition: box-shadow 100ms linear,background-color 10ms linear;
                            &:hover{ 
                                transform: translate(0, -2px);
                                box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.49);
                            }
                            &:active{
                                background-color: rgb(145, 252, 177);
                                transform: translate(0, 0);
                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
                            }
                        }

                    }  
                } 
                .chocolate{background-color: rgb(224, 218, 218)}; 
                .dulce_leche{background-color:rgb(255, 200, 155)};
                .crema{background-color:rgb(255, 222, 160)};
                .frutas_a_la_crema{background-color:rgb(180, 214, 43)};
                .fruta_agua{background-color:rgb(8, 145, 140)};
                .sambayon{background-color:rgb(244, 161, 8)};
            }
        } 
        .luna{
            position: fixed;
            width: 800px;
            z-index: -1;
            top: -33px;
            right: -300px;
            animation: cssAnimation_0 40000ms infinite linear;
            @keyframes cssAnimation_0 {
                to {
                    transform: rotate(-360deg) translate(0px, 0px);
                }
            }
        }
    }
}

.ventana_finalizado_comprar{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 30%;
    #envio_productos{
        background-color: rgb(0, 183, 255);
        width: 400px;
        height: 200px;
        margin: auto;
        border-radius: 5px;}
        color: #00aa14;
    }

.toastify_estilo{
    font-family: 'Itim', cursive;
    font-size: 20px;
}

header{
    grid-area: encabesado;
}
nav{
    grid-area: filtros;
}

main{
    grid-area: productos;
}





